version: "3.4"
services:
  agent:
    image: portainer/agent:1.1.2
    environment:
      # REQUIRED: Should be equal to the service name prefixed by "tasks." when
      # deployed inside an overlay network
      AGENT_CLUSTER_ADDR: tasks.agent
      # AGENT_PORT: 9001
      # LOG_LEVEL: debug
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
    - portnet
    deploy:
      resources:
        limits:
          memory:  ${SHATHEL_ENV_PORTAGENT_MEMORY_LIMIT:-32mb}
      mode: global
      placement:
        constraints: [node.platform.os == linux]
  portainer:
    image: portainer/portainer:1.19.1
    command: --no-auth -H tcp://tasks.agent:9001 --tlsskipverify
    networks:
    - portnet
    ports:
      - 9001:9000
    volumes:
          - portainer-data:/data
    deploy:
      placement:
            constraints: [node.role == manager]
      labels:
          com.df.notify: "true"
          com.df.distribute: "true"
          com.df.usersSecret: "monitoring"
          com.df.servicePath: "/portainer/,/portainer/api"
          com.df.reqPathReplace: /
          com.df.reqPathSearch: /portainer/
          com.df.port: "9000"
      resources:
          limits:
            memory:  ${SHATHEL_ENV_PORTAINER_MEMORY_LIMIT:-128mb}
networks:
  portnet:
    driver: overlay
    attachable: true

volumes:
  portainer-data: